<a href="https://colab.research.google.com/github/ksimhadr/learn/blob/master/PY4AIML_Assignment_00_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Assignment 00-1

Write a function that returns the largest of its three integer arguments:

In [1]:
def best_of_3(a: int, b: int, c: int) -> int:
    # Write code here
    if a > b > c:
        return a
    elif b > a > c:
        return b
    else:
        return c
    return

best_of_3(1, 2, 3)

3

In [6]:
def large_of_3(a: int, b: int, c: int) -> int:
    return max(a, b, c)

large_of_3(1, 2, 3)

3

In [11]:
arr_of_3 = [1, 2, 3]
print(max(arr_of_3))
#rearrange array of 3 in descending order
temp_arr = arr_of_3.copy()
print(temp_arr)
for i in range(len(temp_arr)):
    for j in range(i + 1, len(temp_arr)):
        if temp_arr[i] < temp_arr[j]:
            temp_arr[i], temp_arr[j] = temp_arr[j], temp_arr[i]
print(temp_arr)

3
[1, 2, 3]
[3, 2, 1]

In [17]:
#sum of first 10 even numbers
arr_10 = []
for i in range(10):
    arr_10.append(i)
print(arr_10)
sum = 0
for i in arr_10:
    if i % 2 == 0:
        sum += i
print(sum)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
20