<a href="https://colab.research.google.com/github/ksimhadr/learn/blob/master/PY4AIML_Assignment_03_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Factorial of a number

In [ ]:
def fact_of_num(a: int) -> int:
    result = 1
    if a < 0:
        print("Factorial does not exist for negative numbers")
    elif a == 0:
        print("The factorial of 0 is 1")
    else:
        for i in range(1, a + 1):
            result *= i
            #print(result)
    return result

fact_of_num(5)

120

In [ ]:
for i in range(3,10,3):
  print(i)

3
6
9

In [7]:
#from ast import Index
a_list = [1,2,3,4,25]
for i in a_list:
  print("values are: {} and idx: ".format(i), a_list.index(i))

values are: 1 and idx:  0
values are: 2 and idx:  1
values are: 3 and idx:  2
values are: 4 and idx:  3
values are: 25 and idx:  4

##find the frequency of each element in a list and store it in a dictionary.

In [12]:
a_list = [1,2,3,4,25,1,1,1]
freq = {}
for i in a_list:
  if i in freq:
    freq[i] += 1
  else:
    freq[i] = 1
print(freq)

{1: 4, 2: 1, 3: 1, 4: 1, 25: 1}

##a program to insert a new element at a specific position in the list.

In [13]:
a_list = [1,2,3,4,5]
a_list.insert(2,10)
print(a_list)

[1, 2, 10, 3, 4, 5]

##remove duplicates from a list.

In [29]:
a_list = [1,"apple", "apple", "acncksd", 12.1, 11, 1]
#a_list = list(set(a_list))
#print(a_list)
for i in a_list:
  if a_list.count(i) > 1:
    a_list.remove(i)
print(a_list)

['apple', 'acncksd', 12.1, 11, 1]

## Remove empty strings from the list of strings without using any loops

In [17]:
a_list = ["apple", "", "banana", "", "cherry", ""]
#a_list = [x for x in a_list if x]
a_list = list(filter(None, a_list))
print(a_list)

['apple', 'banana', 'cherry']

##to find the common elements between two lists

In [20]:
a_list = [1, 23, 4, 111.0, "lcas", 134]
b_list = [1, 2, 3, 4, 5, 6, "lcas", 111.0]
c_list = []
for i in a_list:
  if i in b_list:
    c_list.append(i)
    #print(i)
print(c_list)

1
4
111.0
lcas
[1, 4, 111.0, 'lcas']

##to find the common elements between two lists without using loops.

In [33]:
#from re import A
a_list = [1, 23, 4, 111.0, "lcas", 134]
b_list = [1, 2, 3, 4, 5, 6, "lcas", 111.0]
#c = set(a_list) & set(b_list)
#print(c)
c_list = list(set(a_list).intersection(b_list))
print(c_list)

['lcas', 1, 4, 111.0]

##find the second smallest element in a list

In [35]:
a_list = [1, 23, 4, 111.0, 0, 12, 134]
a_list.sort()
print(a_list[1])

1

##check a list is empty

In [38]:
a_list = ["", 1, 2.1,"apple"]
a_list = []
if not a_list:
  print("list is empty")
else:
  print("list is not empty")

list is empty

##rotate a list to the right by n positions