<a href="https://colab.research.google.com/github/ksimhadr/learn/blob/master/PythonLoopsandFunctions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

str(string; a sequence of characters enclosed in single quotes, double quotes, or triple quotes)


*   'this is a string us
*   List item

in --> operator checks for membership

In [9]:
x = {12, 12, 13}
y = [1, 12, 13, 0, -12, -9, {12}]
print(x in y)

False

In [15]:
x = ["apple", "banana", "cherry"]
y = [["apple", "banana", "cherry"], 0, 12, ["grapes", "citroud"]]
z = ["apple", "banana", "cherry"]
print(x is z) #is checks for objects identity; checks the id or actual references
w = z
print(w is z)

False
True

any() --> a function used for checking any value in the container or data structure is TRUE

In [18]:
list1 = [1, 3, 5]
list2 = [0,False,False]
print(any(list1))
print(any(list2))

True
False

checking expression

In [19]:
#container can be a list or tuple or set or dict
x = 6
y = [1, 3, 6, -3, 11]

#Write expression "x in y" can be written with using is keyword
any(x is ele or x  == ele for ele in y)

True

len() --> how many items in the data structure/container

In [27]:
print(len([1, 3, 4, 6, 1, [3,5,6]]))
list21 = [1, 3, 4, 6, 1, 3,5,6]
len([1, 3, 4, 6, 1, 3,5,6])

6

8

callable --> function to determine if an object is callable

In [23]:
callable(len)

True

In [24]:
callable(x)

False

sorted() --> Function to return a newlist of container in sorted order

In [29]:
list3 = sorted(list21)
print(list3)
sorted(['ts', 'TS', 'zebra', 'iitk', '01-20204'])

[1, 1, 3, 3, 4, 5, 6, 6]

['01-20204', 'TS', 'iitk', 'ts', 'zebra']

min() --> get the smallest item in data structure/operator

In [30]:
min(['m', 'a', 'z', 'A', 'Z'])

'A'

explore()
max()
abs()
repr() --> returns a string representation of an object

In [32]:
repr(list3)

'[1, 1, 3, 3, 4, 5, 6, 6]'

####FUNCTIONS

In [34]:
def fun1(arg1, arg2):
  """
  Put this string here describing working functionality of the function. Known as DocString

  """
  print(arg1 + " learns from their " + arg2 + "!")
  return

In [35]:
fun1('Python', 'Data Science')

Python learns from their Data Science!

In [36]:
help(fun1)

Help on function fun1 in module __main__:

fun1(arg1, arg2)
    Put this string here describing working functionality of the function

In [37]:
def powers(x):
  """
  Returns more power to the user.

  """
  return x ** 2, x ** 3, x ** 4

In [38]:
powers(2) #gives default TUPLES

(4, 8, 16)

In [39]:
x2, x3, x4 = powers(3)
print(x3)

27

In [44]:
x = 3
def foo():
  x = 4
  def bar(): #access x values from foo()'s scope
      print(x)


  bar()
  x = 5
  bar()

In [45]:
foo()

4
5

Unnamed Functions (lambda functions)

In [46]:
def f2(x):
  return x ** 2

f1 = lambda x: x**2

In [47]:
f2(2)

4

In [48]:
f1(2)

4

def <lambda>(parameters):
  return expression

lambda_expre ::= "lambda" [parameter_list] ":" expression

#map() is a python function to modify every value in an iterable
#map(function, iterable)

#filter is a python function to use specific value in an iterable
#filer(function, iterable)
#In python, iterables are strings, dict, list, tuples, ranges. When working with iterables, lambda functions are used
#in conjunction with filter and map

In [49]:

help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [51]:
aa = map( lambda x: x ** 2, [1, 2, 3, 4])

In [52]:
print(aa)

<map object at 0x7d1c59b494b0>

In [53]:
callable(aa)

False

In [57]:
list(map(lambda x: x ** 2, [1, 2, 3, 4]))

[1, 4, 9, 16]

In [58]:
def do_something(a, b =3, c=4):
  return a + b + c

In [59]:
do_something(2)

9

In [60]:
do_something(2, -2, 12)

12

###LOOPS

In [61]:
i = 0
while i < 5:
  print(i)
  i += 1

print('complete')

0
1
2
3
4
complete

In [62]:
for x in [1, 2, 4]:
  print(x)

1
2
4

In [66]:
print(list(range(0,5)))

[0, 1, 2, 3, 4]

In [67]:
for x in range(4):
  print(x)

0
1
2
3

In [68]:
for x in ['a', 1, 3, 'apple', 'T20']:
  print(x)

a
1
3
apple
T20

In [69]:
sq_list = []
for x in range(5):
  sq_list.append(x ** 2)

sq_list

[0, 1, 4, 9, 16]

In [70]:
#list comprehension
[x**2 for x in range(5)]

[0, 1, 4, 9, 16]

In [72]:
#loop each elements in dictionary
for idx, x in enumerate(range(-4, 4)): #enumerate gives index of each element in the list
  print(idx, x)

0 -4
1 -3
2 -2
3 -1
4 0
5 1
6 2
7 3

In [78]:
from random import random
## elements which are greater than 10 in a given list
list12 = []
for x in range(0, 10):
  list12.append(x)
print(list12)
any( ele > 3 for ele in list12)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

True

In [79]:
#ML model parameters are stored in dict
#iterate parameters in dict

param = {'w1': 0.34, 'w2': 0.002, 'b1': 2, 'b2': 2.2}
param['b1']

2

In [80]:
print(param.items())

dict_items([('w1', 0.34), ('w2', 0.002), ('b1', 2), ('b2', 2.2)])

In [82]:
for key, value in param.items():
  print(key + " = " + str(value)) #repr(value)

w1 = 0.34
w2 = 0.002
b1 = 2
b2 = 2.2